body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./assets/images/full-bloom.png");
}


/* text elements begin here */

h1 {
    margin-top: 0;

}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* naviagtion element begins here */

nav {
    width: 100%;
    height: 75px;
    position: fixed; 
    top: 0; 
    z-index: -1;
    color: #fff;
/* until further notice */
    background-color: #777;
}

/* navigation element ends here */

/* formatting classes begin here */

.wrapper {
    width: 960px;
    margin: auto;
    min-height: calc(100vh - 50px);
}

/* remember to fix this title card cuz its messed up*/

.titleCard {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 150px;
    max-height: 75px;
    text-align: center;
}


.aboutMeSection {
    background-color: #fff; 
    height: 400px;
    padding: 10px 30px;
    border: 1px solid #dddddd;
    position: relative;
    top: 125px;
}

/* image editing id begins here */

#bioImage {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    float: left;
}

/* footer begins here */

footer {
    clear: both;
    color: #ffff;
    background-color: #666666;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}


/* clearfix and other random css fixes */

clearfix::after {
    content: '';
    display: table;
    clear: both;
}

